.row {
  /* width: 97vw; */
  color: white;
  margin-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 15px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 250px;
}
.trailer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.youtube_trailer {
  width: 90vw;
  margin-right: 20px;
}
